.backdrop {
  fill: #ffe;
}

.arc {
  stroke: #777;
  fill: #fde;
}

g:hover > .arc {
	fill: #8e8;
}

text {
  font-size: 60px;
  text-anchor: middle;
  dominant-baseline: central;
}

text.score {
  font-size: 40px;
  fill: #999;
}

html, body {
	margin: 0; overflow: hidden;
	background: #eee;
}

textarea {
	position: fixed;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 50%;
	width: 40%;
}

svg {
	background: #fff;
	position: fixed;
	left: 50%;
	right: 100%;
	width: 50%;
	top: 0;
	bottom: 0;
	height: 100%;
}